<% include ../partials/_header %>
    <% include ../partials/_message %>
        <% include ../partials/_admin %>
            <div>
                <div class="card-header bg-dark text-white" style="height: 10%">
                    <i class="fas fa-address-card"></i> Arbitros
                    <a href="/admin/referees/add" class="btn btn-success" style="float: right;">Añadir nuevo</a></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Rut</th>
                                    <th>Correo</th>
                                    <th>Deporte</th>
                                    <th>Telefono</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Rut</th>
                                    <th>Correo</th>
                                    <th>Deporte</th>
                                    <th>Telefono</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% if(referee){ %>
                                    <% for (var i=0; i < referee.length; i++){ %>
                                        <tr>
                                            <td>
                                                <%= referee[i].nombre  %>
                                            </td>
                                            <td>
                                                <%= referee[i].rut  %>
                                            </td>
                                            <td>
                                                <%= referee[i].correo  %>
                                            </td>
                                            <td>
                                                <%= referee[i].deporte  %>
                                            </td>
                                            <td>
                                                <%= referee[i].nro_contacto  %>
                                            </td>
                                            <td align="Center">
                                                <a href="/admin/referees/update/<%= referee[i].id_arbitro  %>"" style="color: blue"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="/admin/referees/delete/<%= referee[i].id_arbitro  %>" style="color: red"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <%} %>
                                            <%} %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </main>
            <!-- page-content" -->
            </div>
            <% include ../partials/_footer %>